* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top left, #0c009a 50%, #040034 100%);
}

p {
  color: #ffffff;
}

header a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  height: 100px;
  display: flex;
  border-radius: 5px;
}

.rolagem {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #000000 50%, #2149d9 100%);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin-left: 400px;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.live-stream {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.video {
  flex: 1 1 calc(50% - 20px); /* Two videos per row with 20px gap */
  box-sizing: border-box;
}
.video iframe {
  width: 100%;
  height: 315px;
}

h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

h1,
h2 {
  text-align: center;
}
