* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top left, #0c009a 50%, #040034 100%);
}

p {
  color: #ffffff;
}

header a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  height: 100px;
  display: flex;
  border-radius: 5px;
}

.rolagem {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #000000 50%, #2149d9 100%);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  margin-left: 400px;
}

.container-times::after {
  content: '';
  position: absolute;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-times::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
	position: relative;
	width: 1550px;
	height: 400px;
	background: linear-gradient(to left, #708090 50%, #ffffff 100%);
	margin: 20px;
	box-shadow: 50px 10px 75px rgba(144, 0, 255, 5.0);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 500px;
  height: 150px;
  overflow: hidden;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: -30px;
	display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li p {
	color: #000000;
	font-size: 20px;
}
.saiba-mais button {
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	border-radius: 510px;
	font-size: 18px;
	background: linear-gradient(to left, #ffffff 50%, #ffffff 100%);
}

.footer-bg {
  background: linear-gradient(to left, #708090 50%, #ffffff 100%);
}

.footer-bg {
  background: linear-gradient(to left, #708090 50%, #ffffff 100%);
}

.footer-bg p,
a,
li {
  color: #000;
}

div.footer-contato img {
  width: 100px;
  height: auto;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-11);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}
.footer a:hover {
  color: #ffff;
}
.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
